<h1 class="text-center m-3">¡La pregunta fue aprobada exitosamente!</h1>
<div class="text-center m-3">
    <a href="/PreguntasYRespuestasPHP/admin/homeEdit" class="btn btn-secondary btn-lg p-4 rounded-pill">Volver al inicio</a>
</div>