<div class="d-flex align-items-center justify-content-center" style="height:74vh;">
    <div class="row">
        <h1 class="text-center mb-5">¡El reporte fue rechazado, la pregunta seguirá en el juego!</h1>
        <div class="text-center">
            <a href="/PreguntasYRespuestasPHP/admin/homeEdit" class="btn btn-secondary btn-lg p-4 rounded-pill">Volver al inicio</a>
        </div>
    </div>
</div>