<div class="container">
    <div class="text-success text-center">{{success}}</div>
    <section class="reported-questions">
        <div class="text-center m-3">
            <a href="/PreguntasYRespuestasPHP/admin/createQuestion" class="btn btn-secondary btn-lg p-4 rounded-pill">Crear una dudosa</a>
        </div>
        <h2 class="text-center fw-bold">Preguntas Reportadas</h2>
        <div class="container-fluid">
            <div class="row">
                {{#reportedQuestions}}
                    <div class="col-6">
                        <div class="card m-3">
                            <div class="card-body">
                                <p>ID Pregunta: <strong>{{question_id}}</strong></p>
                                <p>Enunciado: <strong>{{enunciado}}</strong></p>
                                <p>Reporte: <strong>{{descripcion}}</strong></p>
                                <p>Categoria: <strong>{{nombre_categoria}}</strong></p>
                                <a href="/PreguntasYRespuestasPHP/admin/approveReport?id={{question_id}}" class="btn btn-danger m-1">Eliminar pregunta</a>
                                <a href="/PreguntasYRespuestasPHP/admin/declineReport?id={{question_id}}" class="btn btn-success m-1">Conservar pregunta</a>
                            </div>
                        </div>
                    </div>
                {{/reportedQuestions}}
            </div>
        </div>

        {{^reportedQuestions}}
            <div class="text-center m-3">
                <p>No hay preguntas reportadas pendientes de revisión.</p>
            </div>
        {{/reportedQuestions}}
    </section>

    <section class="suggested-questions">
        <h2 class="text-center fw-bold">Preguntas sugeridas por usuarios</h2>
        <div class="container-fluid">
            <div class="row">
                {{#suggestedQuestions}}
                    <div class="col-6">
                        <div class="card m-3">
                            <div class="card-body">
                                <p>ID Pregunta: <strong>{{id}}</strong></p>
                                <p>Pregunta: <strong>{{enunciado}}</strong></p>
                                <p>Dificultad: <strong>{{dificultad}}</strong></p>
                                <p>Categoria sugerida: <strong>{{nombre_categoria}}</strong></p>
                                <p>Estado: <strong>{{nombre_estado}}</strong></p>
                                <a href="/PreguntasYRespuestasPHP/admin/approveQuestion?id={{id}}" onclick="approveQuestion({{id}})" class="btn btn-success m-1">Aprobar</a>
                                <a href="/PreguntasYRespuestasPHP/admin/deleteQuestion?id={{id}}" onclick="approveSuggestedQuestion({{id}})" class="btn btn-danger m-1">Rechazar</a>
                            </div>
                        </div>
                    </div>
                {{/suggestedQuestions}}
            </div>
        </div>

        {{^suggestedQuestions}}
            <div class="text-center m-3">
                <p>No hay preguntas sugeridas pendientes de aprobación.</p>
            </div>
        {{/suggestedQuestions}}
    </section>
</div>


