<div class="container">
    <section class="statistics-overview p-3">
        <h2 class="text-center pb-3">Resumen de Estadísticas</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="shadow p-3 mb-5 bg-body-tertiary rounded p-4">
                        <ul>
                            <li><strong>Cantidad Total de Jugadores:</strong> {{total_users}}</li>
                            <li><strong>Cantidad Total de Partidas Jugadas:</strong> {{total_games}}</li>
                            <li><strong>Cantidad Total de Preguntas en el Juego:</strong> {{total_questions}}</li>
                            <li><strong>Cantidad Total de Preguntas Creadas:</strong> {{createdQuestions}}</li>
                            <li><strong>Cantidad de Usuarios Nuevos:</strong> {{newUsers}}</li>
                            <li><strong>Promedio de Edad:</strong> {{promedio_edad}}</li>
                            <li><strong>Total de usuarios por país:</strong> {{totalUserForCountries}}</li>
                            <li><strong>Promedio de aciertos:</strong> {{ratioForAccierts}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="shadow p-3 mb-5 bg-body-tertiary rounded p-4">
                        <div>
                            <p><strong>Cantidad de Usuarios por Sexo:</strong></p>
                            <ul>
                                <li><strong>Masculino:</strong> {{totalDeHombres}}</li>
                                <li><strong>Femenino:</strong> {{totalDeMujeres}}</li>
                                <li><strong>Elle:</strong> {{totalDeElles}}</li>
                            </ul>
                        </div>
                        <div>
                            <p><strong>Cantidad de Usuarios por Grupo de Edad:</strong></p>
                            <ul>
                                <li><strong>Menores:</strong> {{promedio_edad_menores}}</li>
                                <li><strong>Edad Media:</strong> {{promedio_edad_adultos}}</li>
                                <li><strong>Jubilados:</strong> {{promedio_edad_adultosMayores}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--    <section class="question-stats">-->
    <!--        <h2>Estadísticas de Preguntas y Respuestas</h2>-->
    <!--        <p><strong>% de Preguntas Respondidas Correctamente:</strong></p>-->
    <!--        <div class="container">-->
    <!--            <div>-->
    <!--                <img src="/PreguntasYRespuestasPHP/admin/renderChart" alt="Gráfico">-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="text-center">-->
    <!--            <button class="btn btn-primary" id="generar_pdf_user" onclick="window.location.href='/PreguntasYRespuestasPHP/admin/generatePdf'">-->
    <!--                Imprimir PDF-->
    <!--            </button>-->
    <!--            <form action="/PreguntasYRespuestasPHP/admin/filterStats" method="GET" class="d-inline">-->
    <!--                <input type="date" name="filterDate" required>-->
    <!--                <button type="submit" class="btn btn-secondary">Filtrar</button>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </section>-->

    <button class="btn btn-primary" id="generar_pdf_user"
            onclick="window.location.href='/PreguntasYRespuestasPHP/admin/generatePdf'">
        Imprimir PDF
    </button>

    <div class="filter">
        <form id="filterUserForm" class="d-inline">
            <input type="date" id="userFilterDate" name="userFilterDate">
            <button type="button" id="filterUserChart" class="btn btn-secondary">Filtrar Usuarios</button>
        </form>

        <section class="user-demographics">
            <h2>Estadísticas de Género de Usuarios</h2>
            <div>
                <p><strong>Cantidad de Usuarios por Género:</strong></p>
                <div class="genre">
                    <img id="userChart" src="{{countryUserChart}}" alt="Gráfico de usuarios por país">
                </div>
            </div>
        </section>
    </div>

    <div>
        <section class="user-demographics">
            <h2>Estadísticas Demograficas de Usuarios</h2>
            <div>
                <p><strong>Cantidad de Usuarios por País:</strong></p>
                <div class="country-chart">
                    <img id="countryChart" src="{{countryUserChart}}" alt="Gráfico de usuarios por país">
                </div>
            </div>
        </section>
        <form id="filterQuestionForm" class="d-inline">
            <input type="date" id="questionFilterDate" name="questionFilterDate">
            <button type="button" id="filterQuestionChart" class="btn btn-secondary">Filtrar Preguntas</button>
        </form>
    </div>



    <section class="question-demographics">
        <h2>Estadísticas de Preguntas Respondidas</h2>
        <div>
            <p><strong>Cantidad de Preguntas Respondidas:</strong></p>
            <div class="question-chart">
                <img id="questionChart" src="{{questionChart}}" alt="Gráfico de preguntas respondidas">
            </div>
        </div>
    </section>
</div>


    <script>
        function fetchChart(type) {
            // Obtener el valor de la fecha según el tipo de gráfico
            const filterDate =
                    type === "user"
                            ? document.getElementById("userFilterDate").value
                            : document.getElementById("questionFilterDate").value;

            // Obtener el mes actual y establecer la fecha por defecto si no se selecciona
            const now = new Date();
            const defaultDate = `${now.getFullYear()}-${String(now.getMonth() + 1).padStart(2, "0")}-01`;

            const dateToSend = filterDate || defaultDate;
            // Realizar la solicitud POST para obtener el gráfico
            fetch('/PreguntasYRespuestasPHP/admin/filterStats', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    date: dateToSend,
                    type: type,
                }),
            })
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error("Error al obtener los datos");
                        }
                        return response.text();
                    })
                    .then((data) => {
                        const targetImg = type === "genre" ? "userChart" : "countryChart";
                        document.getElementById(targetImg).src = data;
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
        }

        // Event listeners para cada botón de filtrado
        document.getElementById("filterUserChart").addEventListener("click", function () {
            fetchChart("genre");
        });

        document.getElementById("filterQuestionChart").addEventListener("click", function () {
            fetchChart("country");
        });
    </script>