<div class="container">
    <div class="text-success text-center">{{success}}</div>
    <section class="reported-questions">
        <a href="/PreguntasYRespuestasPHP/admin/createQuestion" class="w3-button w3-teal w3-margin-top w3-round-large">Crear una dudosa</a>
        <h2>Preguntas Reportadas</h2>
        {{#reportedQuestions}}
            <div class="reported-question-item">
                <p><strong>ID Pregunta:</strong> {{question_id}}</p>
                <p><strong>Enunciado:</strong> {{enunciado}}</p>
                <p><strong>Reporte:</strong> {{descripcion}}</p>
                <p><strong>RespuestaCorrecta:</strong> {{nombre_categoria}}</p>
                <a href="/PreguntasYRespuestasPHP/admin/approveQuestion?id={{id}}" onclick="approveSuggestedQuestion({{id}})">Aprobar</a>
                <a href="/PreguntasYRespuestasPHP/admin/deleteQuestion?id={{id}}" onclick="approveSuggestedQuestion({{id}})" >Rechazar</a>
            </div>
        {{/reportedQuestions}}

        {{^reportedQuestions}}
            <p>No hay preguntas reportadas pendientes de revisión.</p>
        {{/reportedQuestions}}
    </section>

    <section class="suggested-questions">
        <h2>Preguntas Sugeridas por Usuarios</h2>

        {{#suggestedQuestions}}
            <div class="suggested-question-item">
                <p><strong>ID Pregunta:</strong> {{id}}</p>
                <p><strong>Pregunta: </strong> {{enunciado}}</p>
                <p><strong>Dificultad: </strong> {{dificultad}}</p>
                <p><strong>Categoría Sugerida: </strong> {{nombre_categoria}}</p>
                <p><strong>Estado: </strong> {{nombre_estado}}</p>
                <p><strong>RespuestaCorrecta:</strong> {{texto_respuesta}}</p>

                <a href="/PreguntasYRespuestasPHP/admin/approveQuestion?id={{id}}" onclick="approveSuggestedQuestion({{id}})">Aprobar</a>
                <a href="/PreguntasYRespuestasPHP/admin/deleteQuestion?id={{id}}" onclick="approveSuggestedQuestion({{id}})" >Rechazar</a>
            </div>
        {{/suggestedQuestions}}

        {{^suggestedQuestions}}
            <p>No hay preguntas sugeridas pendientes de aprobación.</p>
        {{/suggestedQuestions}}
    </section>
</div>


