<div class="m-5">

    <h1 class="text-center fw-bold text-uppercase">¡{{username}} responde algunas preguntas!</h1>
    <!--<a href="/PreguntasYRespuestasPHP/ranking/profile">Ver perfil</a>
    <a href="/PreguntasYRespuestasPHP/ranking/rankingPosition">Ver Ranking</a> -->
    <div class="text-center p-5">
        <form action="/PreguntasYRespuestasPHP/game/play" method="POST">
            <button type="submit" name="click" class="btn btn-primary btn-lg p-5 rounded-pill">Jugar</button>
        </form>
        <br>
        <form action="/PreguntasYRespuestasPHP/ranking/profile" method="POST">
            <button type="submit" name="click" class="btn btn-secondary btn-lg p-4 rounded-pill">Ver mi perfil</button>
        </form>
        <br>
        <form action="/PreguntasYRespuestasPHP/game/suggestQuestion" method="POST">
            <button type="submit" name="click" class="btn btn-secondary btn-lg p-4 rounded-pill">Sugerir Pregunta</button>
        </form>
    </div>

</div>
