<!-- bienvenida.mustache -->
<!-- lobby.mustache -->
<div class="lobby">
    <h1>Perfil de {{username}}</h1>
    <!-- Rellenar con información para que sea un lobby -->
    <a href="/PreguntasYRespuestasPHP/ranking/profile">Ver perfil</a>
    <div class="boton-juego">
        <form action="/PreguntasYRespuestasPHP/game/play" method="POST">
            <button type="submit" name="click" class="w3-button w3-block w3-blue">Jugar</button>
        </form>
        <a href="/PreguntasYRespuestasPHP/ranking/rankingPosition">Ver Ranking</a>
    </div>

</div>
