<div class="w3-display-container" style="height:80vh;">
    <div class="w3-display-middle" style="width:50%;">
        <div class="w3-card-4">
            <div>{{validacion}}</div>
            <div class="w3-container w3-center w3-blue">
                <h2 class="p-3">Iniciar sesión</h2>
            </div>
            <div class="w3-container">
                <form action="/PreguntasYRespuestasPHP/auth/login" method="POST">
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-md-6 mx-auto p-2">
                                <div class="form-floating m-2">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" required>
                                    <label for="floatingInput">Nombre de usuario</label>
                                </div>

                                <div class="form-floating m-2">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                                    <label for="floatingInput">Contraseña</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button type="submit" class="btn btn-dark p-3">Iniciar sesión</button>
                    </div>
                </form>
                <div class="w3-text-red" style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px">{{error_message}}</div>
            </div>
        </div>
    </div>
</div>
