{{#dataProfile}}
    <h2>ID: {{id}}</h2>
    <h2>Nombre de usuario {{username}}</h2>
{{/dataProfile}}
{{#position}}
    <h2>Puntaje: {{puntaje}}</h2>
    <h2>Posición en ranking: {{posicion}}</h2>
{{/position}}