<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Puntaje</th>
    </tr>
    </thead>
    <tbody>
    {{#resultadoFinal}}
        <tr>
            <td>{{id}}</td>
            <td>{{username}}</td>
            <td>{{puntaje}}</td>
        </tr>
    {{/resultadoFinal}}
    </tbody>
</table>