<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Puntaje</th>
    </tr>
    </thead>
    <tbody>
    {{#rankingList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/PreguntasYRespuestasPHP/ranking/profile&id={{id}}">{{username}}</a></td>
            <td>{{puntaje}}</td>
        </tr>
    {{/rankingList}}
    </tbody>
</table>

<input type="hidden" value="{{id}}" id="id">
