<div class="container p-5 m-auto" style="height:74vh;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Ranking</th>
            <th scope="col">ID</th>
            <th scope="col">Usuario</th>
            <th scope="col">Puntaje</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#rankingList}}
            <tr>
                <th scope="row">{{posicion}}</th>
                <td>{{id}}</td>
                <td><a href="/PreguntasYRespuestasPHP/ranking/profile&id={{id}}">{{username}}</a></td>
                <td>{{puntaje}}</td>
            </tr>
        {{/rankingList}}
        </tbody>
    </table>

    <input type="hidden" value="{{id}}" id="id">
</div>
