<div class="w3-display-container" style="height:100vh;">
    <div class="w3-display-middle" style="width:50%;">
        <div class="w3-card-4">
            <div class="w3-container w3-center w3-blue">
                <h2 class=p-3>Registro</h2>
            </div>
            <div class="w3-container">
                <form action="/PreguntasYRespuestasPHP/auth/register" method="POST">

                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-md-8 mx-auto p-2">
                                <div class="form-floating m-2">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre completo" required>
                                    <label for="floatingInput">Nombre completo</label>
                                </div>
                                <div class="form-floating m-2">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" required>
                                    <label for="floatingInput">Usuario</label>
                                </div>
                                <div class="form-floating m-2">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="form-floating m-2">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                                    <label for="floatingInput">Contraseña</label>
                                </div>
                                <div class="form-floating m-2">
                                    <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Repetir contraseña" required>
                                    <label for="floatingInput">Repetir contraseña</label>
                                </div>
                                <div class="form-floating m-2">
                                    <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Fecha de nacimiento" required>
                                    <label for="floatingInput">Fecha de nacimiento</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-3 mx-auto m-2">
                        <button type="submit" class="btn btn-dark p-3">Registrarse</button>
                    </div>
                </form>
                <div class="w3-text-red" style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px">{{error_message}}</div>
            </div>
        </div>
    </div>
</div>
