<h2 class="text-center fw-bold m-2">Sugerir una pregunta</h2>
<!--
<button onclick="showAddQuestionForm()" class="btn btn-primary">Sugerir una nueva dudosa</button>
-->

<form action="/PreguntasYRespuestasPHP/game/suggestQuestionPost" method="POST" id="add-question-form">

    <div class="container-fluid text-center bg-transparent">
        <div class="row justify-content-center">
            <div class="col mx-auto p-2">
                <div class="form-floating m-2">
                    <input type="text" class="form-control" id="question-text" name="question-text" placeholder="Enunciado de la Pregunta" required>
                    <label for="floatingInput">Enunciado de la Pregunta</label>
                </div>
                <div class="form-floating m-2">
                    <select class="form-select" aria-label="Default select example" name="category">
                        <option value="" disabled selected>...</option>
                        {{#categories}}
                            <option value="{{id}}">{{nombre_categoria}}</option>
                        {{/categories}}
                    </select>
                    <label for="floatingInput">Categoría</label>
                </div>
                <div class="form-floating m-2">
                    <input type="text" class="form-control" id="answer1" name="answer1" placeholder="Respuesta Correcta" required>
                    <label for="floatingInput">Respuesta correcta</label>
                </div>
                <div class="form-floating m-2">
                    <input type="text" class="form-control" id="answer2" name="answer2" placeholder="Respuesta incorrecta" required>
                    <label for="floatingInput">Incorrecta 1</label>
                </div>
                <div class="form-floating m-2">
                    <input type="text" class="form-control" id="answer3" name="answer3" placeholder="Respuesta incorrecta" required>
                    <label for="floatingInput">Incorrecta 2</label>
                </div>
                <div class="form-floating m-2">
                    <input type="text" class="form-control" id="answer4" name="answer4" placeholder="Respuesta incorrecta" required>
                    <label for="floatingInput">Incorrecta 3</label>
                </div>

            </div>
        </div>
    </div>
    <div class="d-grid gap-2 col-3 mx-auto m-3">
        <button type="submit" class="btn btn-dark p-3">Confirmar sugerencia</button>
    </div>
</form>

{{#success}}
    <div class="w3-panel w3-green w3-margin-top">
        <p>{{success}}</p>
    </div>
{{/success}}

<script>
    function showAddQuestionForm() {
        document.getElementById('add-question-form').style.display = 'block';
    }

    window.onload = function() {
        {{#success}}
            document.getElementById('add-question-form').reset();
            document.getElementById('add-question-form').style.display = 'none';
        {{/success}}
    };
</script>
